
.icons-sprite, .icons-alert-close, .icons-alert-danger, .icons-alert-info, .icons-alert-success, .icons-alert-warning, .icons-close, .icons-close_blue, .icons-filter_btn_arw, .icons-filter_btn_arw_selected, .icons-icn_alert_reminder_alt, .icons-icn_alert_urgent_alt, .icons-icn_arrow_dwn_blue, .icons-icn_arrow_dwn_gray, .icons-icn_arrow_dwn_wht, .icons-icn_basic_tickmark, .icons-icn_danger, .icons-icn_danger_alt, .icons-icn_info, .icons-icn_new_window, .icons-icn_new_window_wht, .icons-icn_sticky_down_arrow, .icons-icn_sticky_left_arrow, .icons-icn_sticky_right_arrow, .icons-icn_warning, .icons-icn_warning_alt, .icons-info, .icons-locale_bg, .icons-mobile-menu-arrow, .icons-nav-responsive-button-menu, .icons-online, .icons-progress-1-active, .icons-progress-1-inactive, .icons-progress-2-active, .icons-progress-2-inactive, .icons-progress-3-active, .icons-progress-3-inactive, .icons-progress-4-active, .icons-progress-4-inactive, .icons-progress-5-active, .icons-progress-5-inactive, .icons-progress-check-active, .icons-progress-check-inactive, .icons-search-b-icon {
  background: url('/vmf/c/4.0/images/icons-sd9c15f55d8.png') no-repeat;
}

.icons-alert-close {
  background-position: 0 -347px;
}

.icons-alert-danger {
  background-position: 0 -365px;
}

.icons-alert-info {
  background-position: 0 -136px;
}

.icons-alert-success {
  background-position: 0 -22px;
}

.icons-alert-warning {
  background-position: 0 -109px;
}

.icons-close {
  background-position: 0 -481px;
}

.icons-close_blue {
  background-position: 0 -91px;
}

.icons-filter_btn_arw {
  background-position: 0 -620px;
}

.icons-filter_btn_arw_selected {
  background-position: 0 -612px;
}

.icons-icn_alert_reminder_alt {
  background-position: 0 -526px;
}

.icons-icn_alert_urgent_alt {
  background-position: 0 -510px;
}

.icons-icn_arrow_dwn_blue {
  background-position: 0 -628px;
}

.icons-icn_arrow_dwn_gray {
  background-position: 0 -561px;
}

.icons-icn_arrow_dwn_wht {
  background-position: 0 -594px;
}

.icons-icn_basic_tickmark {
  background-position: 0 -653px;
}

.icons-icn_danger {
  background-position: 0 -465px;
}

.icons-icn_danger_alt {
  background-position: 0 -449px;
}

.icons-icn_info {
  background-position: 0 -580px;
}

.icons-icn_new_window {
  background-position: 0 -539px;
}

.icons-icn_new_window_wht {
  background-position: 0 -550px;
}

.icons-icn_sticky_down_arrow {
  background-position: 0 -646px;
}

.icons-icn_sticky_left_arrow {
  background-position: 0 -11px;
}

.icons-icn_sticky_right_arrow {
  background-position: 0 0;
}

.icons-icn_warning {
  background-position: 0 -497px;
}

.icons-icn_warning_alt {
  background-position: 0 -434px;
}

.icons-info {
  background-position: 0 -247px;
}

.icons-locale_bg {
  background-position: 0 -663px;
}

.icons-mobile-menu-arrow {
  background-position: 0 -732px;
}

.icons-nav-responsive-button-menu {
  background-position: 0 -695px;
}

.icons-online {
  background-position: 0 -679px;
}

.icons-progress-1-active {
  background-position: 0 -413px;
}

.icons-progress-1-inactive {
  background-position: 0 -392px;
}

.icons-progress-2-active {
  background-position: 0 -205px;
}

.icons-progress-2-inactive {
  background-position: 0 -226px;
}

.icons-progress-3-active {
  background-position: 0 -184px;
}

.icons-progress-3-inactive {
  background-position: 0 -163px;
}

.icons-progress-4-active {
  background-position: 0 -305px;
}

.icons-progress-4-inactive {
  background-position: 0 -284px;
}

.icons-progress-5-active {
  background-position: 0 -326px;
}

.icons-progress-5-inactive {
  background-position: 0 -263px;
}

.icons-progress-check-active {
  background-position: 0 -70px;
}

.icons-progress-check-inactive {
  background-position: 0 -49px;
}

.icons-search-b-icon {
  background-position: 0 -745px;
}
