$black:#000000;
$background :#f1f6f8;
$text-color:#666666;
$anchor-color:#006990;
$anchor-font-size:15px;
$display-inline:inline-block;
$display-block:block;
$anchor-font-weight:bold;
$ul-margin-bottom:20px;
$font-family:"proxima-nova-light","Arial",sans-serif;
$min-margin-bottom:10px;

$ph-width-min: 320px;					/* phone portrait width */
$ph-width-max: 480px;					/* phone landscape width */

$portrait-tab-width : 768px;			/* Portrait tablet */
$landscape-tab-width : 1024px;			/* Landscape tablet */

$desktop-width : 979px;					/* desktop */
$large-desktop-width: 1200px;        	/* Large desktop */

@mixin anchor(){
	color:$anchor-color;
	font-size:$anchor-font-size;
	display:$display-inline;
	font-weight:$anchor-font-weight;
}
$border:1px solid #e0e0e0;
h1{
	margin-top: 0px;
} 
h4{
	color:$black;

}
h3{
	span{
		&.form-required{

			font-size:15px;
		}
	}
}
/*a{
	@include anchor();
}*/

#content-container, .content-container{
		ul{
			padding-left:0px;
			
				li{
					list-style:none outside none;
				}
				&.nav-pills{
						li{
						width:335px;	
						}
					}
			}
	article{
			
		.with-border{
						border:$border;
						div.col-md-4{
							padding-right:0px;
							.starlight-cont{
								margin-bottom:0px;
							}
						}
					}
	}
	.block{
		display:block;
	}
	.text-right{
		text-align:right;
	}
	.text-left{
		text-align:left;
	}
	.config-form{
		label{
		font-family: $font-family;
			color:$text-color;
			font-weight:normal;
		}

	}
	div.row{
		&.element-container{
		margin-bottom:$ul-margin-bottom;
		span{
				select{
					&.form-control{
						width:250px;
						margin-bottom:$min-margin-bottom;
					}
				}
			}
		}
		&.primaryAdministrator{
				margin-bottom:$min-margin-bottom;
				}
		.billingAddresssForm{
			div.row{
			margin-bottom:$min-margin-bottom;
			}
		}		
	}
}
.standard-configuration-info{
	> div.pull-right{
		width: 374px;
    text-align: right;
    margin-bottom:15px;
    display: inline;
	}
}

.navBarCustom{
		 > li, > li.open{
			a,a:hover,a:focus{
				background:none;
				color:#fff;
				font-weight: normal;
				font-size: 16px;
				padding:5px 15px !important;
				@media (min-width: $portrait-tab-width) and  (max-width: $desktop-width){
					padding:5px !important;
					font-size:14px;
				}
			}
		}
		
	@media (min-width: $desktop-width) {
		li.navBorder{		
			 > a{
				padding-right: 25px !important;
				border-right: 2px solid #5E5F5E !important;
			}		
			+li.navBorderAfter a{
				padding-left: 25px !important;
			}
		}
	}
	.dropdown .dropdown-menu{
		background-color: #262629;
	}
	
	@media (max-width: 768px) {
		.dropdown .dropdown-menu{
			background-color: none;
		}
	}
} 

@media (min-width: $large-desktop-width) {
  .mainNav{
	margin-left:20px !important;	
  }
}

@media (min-width: $portrait-tab-width) {

  .navbar-nav.navbar-right:last-child {
     margin-right: 0px !important;
  }

}

.lt-ie8 {
  select.form-control {
    height: auto !important;
  }
  .modal-body .col-md-12 {
    width: 100% !important;
  }
  .configDashBox .btn-group {
    margin-left: 80px;
    .dropdown-toggle {
      padding-bottom: 6px;
    }
  }
  .tooltip {
    filter: none !important;
  }
}

@media (max-width: $portrait-tab-width) {
	.header .page-logo{
		margin: 18px 0 0 !important;
	}
	
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}
	
	.navBarCustom{
		&.navbar-right{
			margin-top:0px !important;
		}
		
		&.mainNav{
			margin-bottom:0px !important;
		}
	}
}

.bottomBorder{
	border-bottom: 1px solid #E6E6E6;
    margin: 10px 0;
}
.bottomBorderWhite{
	border-bottom: 1px solid white;
    margin: 10px 0;
}

.customListBorder{
	border-right: 1px solid #E6E6E6;
	padding-right: 10px !important;
}

h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small{
	font-size: 80%;
}

.serviceDataUl li{
	list-style: none;
}

.greyBg{
	background-color: #ccc;
}

.reviewOrderWrap > .row{
	margin-bottom: 10px;
}

.tableHdr{
	padding:10px 0;
	background-color: #ccc;
}

.fRed{
	color: #EF3B23;
}

.configDashBox {
    background-color: $background;
    border: 1px solid $background;
    margin: 13px 0;
    padding: 0 0 30px;
    text-align: center;
}

.items_wrap{ 
	padding-bottom:10px;
	border-bottom: 1px solid #E6E6E6;

	& > .row{
	margin-bottom:8px;
	}
}

.font-size-38{
	font-size: 38px;
}

.panel-title {
	font-size: 16px;
}

.box-bgGrey{
	padding:10px;
	background-color: #eee;
}
.starlight .progressBar ol > li{
	margin: 0 31px 0 0;
  	color: #999999;
}
.starlight .progressBar ol > li.visited{
  	color: #333333;
}
.starlight .progressBar ol > li.active {
  	font-family: "proxima-nova-semibold", "Arial", sans-serif;
}

html.lt-ie8{
	input[type="radio"],input[type="checkbox"]{margin-top:0px !important;}
	.starlight .progressBar ol > li{
		float: left;
	}
	.starlight .progressBar ol{
		display: inline-block;
		padding: 20px 0px !important;
	}
	.form-horizontal .radio, .form-horizontal .checkbox{
		padding-top: 0px !important;
		min-height: auto !important;
	}
	strong{
		font-weight: bold !important;
	}
}

.starlight .accordion .panel-body.table{
	.table-head{
		font-family: proxima-nova-thin;
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 15px;
	}
	.table-row{
		border-top: 1px solid #e6e6e6;
		font-size: 14px;
		padding: 10px 0;
	}
}

.starlight .btn-primary{
	font-size: 14px;
	font-family: "proxima-nova-semibold", "Arial", sans-serif;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
	padding-left: 20px;
    padding-right: 20px;
}

.starlight .btn-default{
	@extend .btn-primary;
	color: #666;
}

.starlight .modal{ 
	.overlay{
		.modal-footer{
			background-color:#e3e3e3;
			padding:23px 40px;
			border-radius: 0 0 4px 4px;
			.btn-primary{
				margin-right:10px;
			}
		}
		.modal-body{
			.btn-primary{
				margin-right:10px;
			}
			.btn-default{
				margin-right:10px;
			}
		}
	}
	&.overlay-lg .modal-dialog{
		width:770px
	}
	.modal-header{
		padding-left: 40px;
	}
}

@media (min-width: 992px) {
	.tokensAccordion .col-md-1{ width: 11.333%}
	.tokensAccordion .panel-body .col-md-1{ width: 10.333%}
	.tokensAccordion .panel-body .col-md-3{ width: 19%}
	.tokensAccordion .panel-body .col-md-2{ width: 14.6%}
	.tokensAccordion .panel-body .col-md-4{ width: 30%}
}

.radio label, .checkbox label {
    color: inherit;
    font-family: inherit;
}

.form-required {
	color: #d9541e;
    font-size: 14px;
}

.box-bgBlue {
    background-color: #ecf5fc;
    padding: 30px 20px 20px 30px;
}

.calculationBoxHeader18{
  font-family: "proxima-nova-semibold","Arial",sans-serif;
  font-size: 18px;
  margin: -5px 0 3px;
  color: #387c2c;
}

.intro-text-24{
  font-size: 24px!important;
}
.padding-left-5{
  padding-left: 5px !important;
}

.padding-left-10{
    padding-left:10px !important;
}

.padding-left-20{
    padding-left: 20px !important;
}

.margin-left-20{
    margin-left:20px !important;
}

.cursor{
	cursor:pointer;
}

.lBlue{
	color:#9DDCF8;
}

.autoWidth{
	width:auto;
}

.formAlign .row{
	margin-bottom:7px;
}

ul.addontable li.addontable-head {
	background-image: -webkit-linear-gradient(top, #ededed 0%, #dadada 100%);
	background-image: -o-linear-gradient(top, #ededed 0%, #dadada 100%);
	background-image: linear-gradient(to bottom, #ededed 0%, #dadada 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEDEDED', endColorstr='#FFDADADA', GradientType=0);
	border-bottom: none;
}

ul.addontable li.addontable-head .addon-separator{
	border-right: 1px solid #f1f1f1;
}

.starlight {
  .form-horizontal .radio {
    padding-top: 0;
    padding-left: 0;
  }
  &.liferay {
    .radio, .checkbox {
      padding-left: 0;
    }
  }
}

#calculationsBox{
	h3{
		margin-top:0px;
		margin-bottom:0px;
	}
}

.bg-support{
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -151px; width: 18px; height: 15px;
  display: inline-block;
  float: left;
}
/*********************Dashboard Styles starts here*********************/
.btn-padding-right-0 {padding-right: 0;padding-left:10px;}/* edited for BUG-00111247*/
.dashboard {
	.starlight-cont {
		background-color: #f1f6f8;
		padding: 32px 25px 5px;
		.text-center {
			padding-bottom: 15px;
		}
	}
	.service {
		padding: 5px 8px 5px 11px;
	}
	.users {
		.margin-top-30 {
			margin-top : 17px;
			clear : both;
				li {
					width: 37%;
					float: left;
					h4 {
						margin-top : -3px;
					}
				}
			}
		}
	.owner{
		background: #d3d3d3;
		padding: 4px;
		border-radius: 4px;
		color: #fff;
	}
	.info {
	  background-image: url("/vmf/c/4.0/images/bg_alert_spite.png");
	  display: block;
	  height: 14px;
	  width: 14px;
	  margin-top: 3px;
	  margin-left: 5px;
	  background-position: 0 -428px;
	}
}
.renameEdit {margin-bottom: 7px;}
.msrp {color: #333333; font-family: "proxima-nova-regular"; font-size: 16px;}
.bottom {
	float: left;
	width: 100%;
	padding: 18px 15px;
	background: #ECECEC;
	p {
		float:right;
	}
}
.addDescription {
	font-size: 16px;
	margin-bottom: 30px;
}
.fundName {
	margin-bottom: 13px;
}
.form{
		padding-left: 0;
	form{
	       label {
		     span{color: #FF0000;}
	}
    p {
		label {
		float: left;
		width: 40%;
		}
input {
		width: 58%;
    	}
	  }
	}
}
.formBtns {
	width: 100%;
	float: left;
	text-align: right;
	margin-top: 10px;
}
.addStep{
	color: #000;
	font-size: 15px;
	margin-bottom: 10px;
	font-weight:bold;
}
.required{
	width: 100%;
	text-align: center;
	margin-bottom: 7px;
}
.addModal{
	/*Temporary */
	padding-left:0 !important;
	padding-right:0 !important;
	min-height: 0 !important;
	padding-bottom : 0 !important;
	width: 750px !important;
}
.addWrapper{
	/*Temporary */
	padding-left: 45px;
	padding-right: 45px;
}
.remuser {
	max-height: 150px;
	overflow-y: auto;
	label {
		padding-left: 0;
		input {
			 margin-top: 0 !important;
    	    vertical-align: middle;
		}
	}
}
.modalClose {
	float: right;
	margin: 10px 35px;
}
.fundName {
  margin-bottom: 13px;
  margin-left: 20px;
}

/* line 547, scss/token.scss */

.removeUserModal {
  padding-left: 0 !important;
}

/* line 548, scss/token.scss */

.removeDescription {
  margin-bottom: 6px;
}

/* line 550, scss/token.scss */

.termsInput {
  display: block;
  float: left;
  margin-top: 10px;
}

/* line 554, scss/token.scss */

.termsContent {
  float: left;
  display: block;
  margin-bottom: 7px;
}

.removeUserModal .termsContent {
  float: right;
}

.headFnd .renameLnk {
  font-size: 16px;
}

.addSection .addUserFields input {
  padding-left: 15px;
  color: #333333;
}

.addUserGrp .btn-primary {
  margin-right: 20px;
}

/*********************Dashboard Styles endss here*********************/
/*********************Configurator Admin starts*********************/
/* line 560, scss/token.scss */

.admin {
  padding-right: 0;
  h2 {
    color: #000;
    opacity: 0.6;
  }
}

/* line 562, scss/token.scss */

/* line 568, scss/token.scss */

.adminLogin h3 {
  font-size: 17px;
}

/* line 574, scss/token.scss */

.adminform {
  .addSection {
    margin-left: 1%;
    margin-bottom: 30px;
  }
  .adminFields {
    margin-right: 35px;
  }
  .formFields {
    padding-right: 0;
    padding-left: 43px;
  }
}

/* line 579, scss/token.scss */

/* line 582, scss/token.scss */

/* line 587, scss/token.scss */

.newServiceBtnWrap {
  width: 100%;
  float: left;
}

/* line 591, scss/token.scss */

.margin-top-0 {
  margin-top: 0;
}

/*********************Configurator Admin ends*********************/
/*********************Dashboard Styles endss here*********************/

/*** Data table change may be moved to core later **/
table.starlight.dataTable.withPadding td{
                padding:10px 20px;
                border:1px solid #f2f2f2;
}


/*** Vinoth's changes need to be changed to SCSS ***/

.badgeBrown {
  background:#f1f1f1;
  border-radius: 0 !important;
  color: #000;
  font-size: 11px;
  padding: 5px 7px;
  display: inline-block;
  white-space: nowrap;
}
.customListBorder {
border-right: 1px solid #e6e6e6;
}
.csvDownload{
 background: url(/vmf/c/4.0/images/bg_alert_spite) no-repeat;
  background-position: 0 -215px;
   width: 16px;
   height: 16px;
   padding-top: 0;
  padding-right: 25px !important;
}
.detialsDiv{
width:40%;
float:left;
}
.detailDiv{
width:60%;
float:left;
 &.marginTop{
	margin-top:10px;
 }
}
.partnerWrapper {
  .detialsDiv h5, .detailDiv {
    margin-bottom: 0;
  }
}

.accountWrapper {
  .detialsDiv h5, .detailDiv {
    line-height: 18px;
    margin: 0;
  }
}
.renameDiv {
  margin-bottom: 25px;
  margin-top: 16px;
  position: relative;
  padding-left: 0;
  display: none;
  .parsley-errors-list {
    position: absolute;
    top: 35px;
  }
}
.renameFundName, .renameTxtBox {
  width: 44%;
  float: left;
  margin-right: 15px;
}
.serviceCost{
font-size:90%;
padding-left:15px !important;
}
.serviceCostCurr{
font-size:16px;
}
.balanceVal {
	font-size: 24px;
	margin: 3px 0;
	color: #333333;
	opacity: 0.7;
	float: left;
	width: 100%;
}
.balanceCnt{
	padding-left: 0px;
}
.renameLnk
{
	border-left:1px solid #ccc;
	padding-left:15px;
	font-family:"proxima-nova-regular";
}
i, cite, em, var, address, dfn {
font-style: italic;
}

.currSymbol{padding-right:2px;}

.fundNameHead{
	color: #387c2c;
}
/*.currSymbol{padding-right:5px;}*/
.trueBadge{
	background: none repeat scroll 0 0 #C3CD23;
    color: #fff;
    display: block;
    float: left;
    font-size: 55%;
    height: 14px;
    line-height: 14px;
    margin: 26px 10px 0 0;
    padding: 1px 2px 1px 3px;
}

.trueBadge-header{
	background: none repeat scroll 0 0 #C3CD23;
    color: #fff;
    font-size: 67%;
    margin-left: 7px;
    padding: 2px 5px;
}

.ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 2px !important;
}

.starlight .parsley-errors-list {
	color: #e00000;
	font-weight: normal;
	margin: 2px 0 0 2px;
	font-family: "proxima-nova-regular", "Arial", sans-serif;
	list-style: none;
	position:absolute;
	li {
		background: url("/vmf/c/4.0/images/icons/icn_danger.png") no-repeat scroll 0 transparent;
		padding-left: 20px;
	}
}

.addontable .horizon .col-md-1,.addontable .horizon .col-md-2,.addontable .horizon .col-md-3{
	padding-left:5px;
	padding-right:5px;
}
.addontable-head small{
	font-size:14px;
}
h4.topMarginZero {
  margin-top: 0;
}
.errorMessage {
  width: 100%;
  color: #e00000;
}
.form {
  padding-left: 0;
  .form-required {
    width: 100%;
    text-align: center;
  }
  form label span {
    color: #FF0000;
  }
}

/***********Add on style**************/

.glyphicon-chevron-right, .glyphicon-chevron-down {
  float: left;
}
.panel-title .col-md-2 {
  width: 15.66666%;
}

.openaccordion {
  color: #cccccc;
  font-weight: normal;
  font-size: 14px;
}
.starlight .accordion.panel-group {
  .panel .panel-heading {
    padding-left: 5px;
  }
  .accordion-heading .panel-title {
    padding-left: 27px;
  }
}
/********************Add on ends*****************/
/*************configurator home page****************/

.configDashBox h2 {
    display: block;
    height: 48px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 25px;
    width: 100%;
}

.configDashBox p {
    height: 46px;
    margin: 0 3px 20px;
}

.btn-caret .btn .caret {
    margin-left: 25px;
    margin-right: -10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .configDashBox h2{
    padding-left: 0px;
    font-size: 22px;
  }
}
.newServices {
  background: url(/static/myvmware/common/css/img/icn_config_options.png);
  background-position: 0 -53px;
  width: 48px;
  height: 48px;
  display: block;
  float: left;
}
.addOn {
  background: url(/static/myvmware/common/css/img/icn_config_options.png);
  background-position: 0 0;
  width: 48px;
  height: 48px;
  display: block;
  float: left;
}
.renewal {
  background: url(/static/myvmware/common/css/img/icn_config_options.png);
  background-position: 0 -106px;
  width: 42px;
  height: 42px;
  display: block;
  margin-right: 5px;
  float: left;
}
.headingContent {
    color: #387c2c;
    display: block;
    float: left;
    font-family: "proxima-nova-semibold","Arial",sans-serif;
    font-size: 22px;
    line-height: 22px;
    padding-left: 15px;
    padding-top: 15px;
}

/*************configurator home page****************/

.borderRightWhite {
  border-right: 2px solid #ffffff;
}

.borderLeftWhite{
	border-left: 2px solid #ffffff;
	margin-left: -2px;
}

body.liferay.starlight #content-container {
  padding-bottom: 55px;
}

ul.dropdown-menu .csvDownload {
  background: url("/vmf/c/4.0/images/icon_excel.png") no-repeat;
  background-position: 0 0px;
  width: 16px;
  height: 19px;
  padding-top: 0;
  padding-right: 25px !important;
  margin-left: 15px;
}
ul.dropdown-menu.dashboardDropdown {
    padding: 0 !important;
}
ul.dropdown-menu.dashboardDropdown li {
    padding: 5px 0;
}
ul.dropdown-menu.dashboardDropdown li:hover{
    background-color: #e1f2f7;
}
.remove {
  border-left: 1px solid #999A9A;
    padding-left:8px !important;
}

.ie7 ul.list-inline li, .ie8 ul.list-inline li, .ie9 ul.list-inline li, .ie10 ul.list-inline li {
  display: inline;
  zoom: 1;
  padding: 0px 0px 0px 1px;
}

.starlight .parsley-errors-list {
  color: #e00000;
  font-weight: normal;
  margin: 2px 0 0 2px;
  font-family: "proxima-nova-regular", "Arial", sans-serif;
  list-style: none;
  position: absolute;
}

ul.parsley-errors-list li {
  background: url("/vmf/c/4.0/images/icons/icn_danger.png") no-repeat scroll 0 transparent;
  padding-left: 20px;
}

.box-bgBlue #fullCalc h3 {
  margin-top: 15px;
}

.box-bgBlue .fullCalc h3 {
  margin-top: 15px !important;
}

.starlight .detailDiv .list-inline > li, .ie9.starlight .detailDiv .list-inline > li, .ie8.starlight .detailDiv .list-inline > li {
  padding-left: 3px;
  padding-right: 3px;
}

/*************Praxis Flow Start****************/
.praxisFundInfoWrap .fundLabel {
  width: 150px;
  display: inline-block;
}

/*************Praxis Flow End****************/

.addontable .horizon {
  .col-md-1, .col-md-2, .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.addontable-head small {
  font-size: 14px;
}

/************* Accordion styles - to be merged to main accordion styles **********/

.accordion .panel {
  .panel-heading {
    color: #0095D3;
  }
  &.collapsed .panel-heading {
    color: #666 !important;
  }
}

.selectServiceCol {
  width: 65.6667%;
}

/* Edited for BUG-00101486*/

.margin-right-24 {
  margin-right: 24px;
}

/* edited for jp locale*/

.openaccordion {
  &.glyphicon-chevron-right {
    background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
    background-position: 0 -609px;
    width: 9px;
    height: 15px;
  }
  &.glyphicon-chevron-down {
    background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
    background-position: 0 -561px;
    width: 15px;
    height: 9px;
  }
  text-indent: -3333px;
  width: 17px;
  height: 17px;
  margin: 4px 0 0 10px;
  display: inline-block;
}

/************* Accordion styles End */

.form-inline .btn {
  margin-top: 10px;
}

.icons-icn_warning {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -523px;
  width: 16px;
  height: 13px;
  margin-right: 5px;
}

.text-error {
  border-color: #ef3b23 !important;
}

.icons-alert-success {
  background: url("/static/myvmware/common/css/img/icon_success_alerts_53x53.png") no-repeat;
  background-position: 0 -87px;
  width: 27px;
  height: 27px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

/******************expired funds datatable style  changes***********************/

.liferay table.dataTable.starlight thead {
  th {
    color: #333;
    font-size: 14px;
  }
  height: 40px;
}

table.dataTable.starlight.noBg tr {
  &.even, &.odd {
    background-color: white;
  }
  &.even:hover, &.odd:hover {
    background-color: #e5ebf1;
  }
}

.liferay .groupLabel {
  color: #777777;
}

#configureServiceContainer .form-horizontal .form-group {
  margin-bottom: 15px;
}

.serviceCostHdr {
  margin: 0 0 3px;
  font-family: "proxima-nova-semibold", "Arial", sans-serif;
  font-size: 18px;
}

.intro-text {
  color: #333 !important;
}

.reviewOrderWrap h3 {
  font-size: 18px;
}

a.exportCus {
  background: url("/static/myvmware/common/css/img/export_bg.png") no-repeat;
  float: right;
  line-height: 18px;
  margin-bottom: 7px;
  padding-left: 20px;
}

.removeAddon {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -171px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/***********progress bar style for active*****************/

.icons-progress-1-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -830px;
  width: 28px;
  height: 21px;
}

.icons-progress-2-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -882px;
  width: 28px;
  height: 21px;
}

.icons-progress-3-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -934px;
  width: 28px;
  height: 21px;
}

.icons-progress-4-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -986px;
  width: 28px;
  height: 21px;
}

.icons-progress-5-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -1038px;
  width: 28px;
  height: 21px;
}

/************* Progress bar styles for active ends *************/
/*************(liferay)***********************************/
/************* Progress bar styles for inactive*************/

.icons-progress-1-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -856px;
  width: 28px;
  height: 21px;
}

.icons-progress-2-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -908px;
  width: 28px;
  height: 21px;
}

.icons-progress-3-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -960px;
  width: 28px;
  height: 21px;
}

.icons-progress-4-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -1012px;
  width: 28px;
  height: 21px;
}

.icons-progress-5-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -1064px;
  width: 28px;
  height: 21px;
}

/************* Progress bar styles for inactive ends *************/

.icons-alert-close {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 18px;
}

.icons-alert-danger {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -23px;
  width: 27px;
  height: 27px;
}

.icons-alert-success {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -87px;
  width: 27px;
  height: 27px;
}

.icons-alert-warning {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -119px;
  width: 27px;
  height: 27px;
}

.starlight .modal .modal-header .close {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -192px;
  width: 18px;
  height: 18px;
}

/****************liferay ends************************/

/******************alpha_star**********************/

body.liferay.starlight .icons-locale_bg {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -728px;
  width: 35px;
  height: 16px;
}
body.liferay.starlight #localeSelector .icons-locale_bg{cursor: pointer;}
/******************alpha_star ends**********************/

/************* Progress bar styles for visited *************/

.visited {
  .icons-progress-1-inactive {
    background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
    background-position: 0 -629px;
    width: 28px;
    height: 21px;
  }
  .icons-progress-2-inactive {
    background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
    background-position: 0 -655px;
    width: 28px;
    height: 21px;
  }
  .icons-progress-3-inactive {
    background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
    background-position: 0 -681px;
    width: 28px;
    height: 21px;
  }
}

/************* END - Progress bar styles for visited *************/

/******************progress check*********************************/

.icons-progress-check-inactive {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -1186px;
  width: 29px !important;
  height: 22px !important;
}

.icons-progress-check-active {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -1159px;
  width: 29px !important;
  height: 22px !important;
}

/******************progress Check ends****************************/
/************* Progress bar styles hack for chrome *************/

@media only screen and (min-width: 1224px) {
  .progressBar ol {
    height: 31px;
  }
}

/************* End Progress bar styles *************/

/***************************new changes by gaurav********************/

input {
  &[type="checkbox"] {
    display: none;
  }
  &[type="radio"] {
    display: none;
    + label:before {
      vertical-align: middle;
    }
  }
  &[type="checkbox"] + label:before {
    vertical-align: middle;
  }
  &[type="radio"] + label:before {
    background: url("/static/myvmware/common/img/input_checks.png") no-repeat scroll -38px center transparent;
  }
  &[type="checkbox"] + label:before {
    background: url("/static/myvmware/common/img/input_checks.png") no-repeat scroll -114px center transparent;
    content: "";
    display: inline-block;
    height: 19px;
    margin-right: 5px;
    text-indent: 20px;
    vertical-align: text-top;
    width: 19px;
  }
  &[type="radio"] + label:before {
    content: "";
    display: inline-block;
    height: 19px;
    margin-right: 5px;
    text-indent: 20px;
    vertical-align: text-top;
    width: 19px;
  }
}

.ie7 input {
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    width: 0px;
  }
}

.ie8 input {
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    width: 0px;
  }
}

.ie7 input {
  &[type="checkbox"], &[type="radio"] {
    display: block !important;
  }
}

.ie8 input {
  &[type="checkbox"], &[type="radio"] {
    display: block !important;
  }
}

input {
  &[type="checkbox"]:checked + label:before {
    background: url("/static/myvmware/common/img/input_checks.png") no-repeat scroll 0 center transparent;
  }
  &[type="radio"] {
    &:checked + label:before {
      background: url("/static/myvmware/common/img/input_checks.png") no-repeat scroll -76px center transparent;
    }
    &:disabled + label:before {
      background: url("/static/myvmware/common/img/input_checks.png") no-repeat scroll -152px center transparent;
    }
  }
}

.removeUserModal div.radio {
  margin-left: 20px;
}

/**************select box changes***************/

button.selectpicker .caret {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid;
}

.bootstrap-select.btn-group .btn.selectpicker .caret {
  right: 10px;
  margin-top: -3px;
}

.dropup button.selectpicker .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 8px solid;
}

.starlight .btn-default.selectpicker {
  color: #333;
  font-family: "proxima-nova-regular", "Arial", sans-serif;
  .filter-option {
    margin-right: 5px;
  }
}

.bootstrap-select.form-control:not([class*="span"]) {
  width: auto;
}

.accountFundInfo {
  font-size: 14px;
  padding: 2px 10px 0 0;
}

.changeAccount {
  float: right;
  padding-right: 0px;
  padding-left: 0px;
  /*font-size:13px;*/
  text-align: right;
  margin-top: 20px;
}

.starlight.liferay .margin-right-0 {
  margin-right: 0;
}

.starlight-cont .balanceCnt .expire_starts {
  font-size: 14px;
  width: 170%;
}

/*.SubscriptionHeading {
  margin-bottom: 30px;
}*/

.redeemPadding {
  padding-right: 0px;
}

.starlight-cont.marginbottom15px {
  margin-bottom: 15px;
}

.discountInfo {
  color: #999999;
  font-size: 14px;
}

.discountText {
  font-family: "proxima-nova-semibold","Arial",sans-serif;
  color: #666;
}

.dashboard {
  .sidList ul, .detailDiv ul.list-unstyled {
    margin-bottom: 5px;
  }
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.boder-left-1 {
  border-left: 1px solid #BABABA;
}

.boder-right-1 {
  border-right: 1px solid #BABABA;
}

.border-left-1-margin{
  border-left : 1px solid #BABABA;
  margin-left: -1px;
}

#dashboardAlertBoxContainer .alert-box {
  margin-top: 10px;
}

.errorContainer .modal-title {
  background: url("/static/myvmware/common/css/img/icon_warning_alerts_64x64.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
  height: 60px;
  text-indent: 80px;
  color: #ff8600;
  padding-top: 18px;
  margin-top: 30px !important;
  margin-left: 15px !important;
}

.balanceError {
  background: url("/static/myvmware/common/css/img/ico_alert_red.png") 0px 0px no-repeat;
  display: inline-block;
  width: 23px;
  height: 19px;
}

.errorContainer {
  .modal-header {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    padding-top: 15px !important;
  }
  .modal-body {
    padding: 10px 40px 30px 44px !important;
  }
}

.fontPNovaSBold {
  font-family: "proxima-nova-semibold", "Arial", sans-serif;
}

.fRed2 {
  color: #de0000;
}

.padding-top-11 {
  padding-top: 11px;
}

.paraWrap p {
  margin-top: 20px;
}

.icons-alert-info {
  background: url("/vmf/c/4.0/images/bg_alert_spite.png") no-repeat;
  background-position: 0 -55px;
  width: 27px;
  height: 27px;
}

.balanceValNegative {
  color: #e00000;
}

.padding-0 {
  padding: 0 !important;
}

/***********dashboard changes**********/
.fndBalance{
line-height:16px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-0 {
  padding-left: 0px;
}
.expireInfo{
font-size:14px;
}
#breadcrumb{
margin-bottom:15px;
}
/***********Vsppdashboard changes**********/
.vsppDashboard {
	.cartImg {
		background: url('/static/myvmware/common/css/img/bg_cart.png');
		width: 20px;
		height: 17px;
		display: inline-block;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		vertical-align: bottom;
		padding-right: 34px;
	}
	.balanceDeatails {
		background: #EEEDED;
		padding: 20px;
	}
	.commitLevelCont {
		padding-bottom: 10px;
		margin-top: 0;
	}
	.vsppSubHeader{
	  color: #387c2c;
	}
	.vsppListOf li,.ssListOf li {
	    padding: 3px 0px 3px 10px;
	    cursor: pointer;
	}
	.vsppListOf,.ssListOf{
 		padding: 0px;
	}
	.subscriptionServiceDt {
		margin-top: 30px;
	}
	.balanceDeatails h5 {
	    margin-bottom: 5px;
	    margin-top: 0;
	}
	.balanceDeatails .msrp{
		font-size: 90%;
	}
	.btnCont{
	  padding-right: 0px;
	}
	.renameLnk {
	    font-size: 16px;
	}
	.font-size-14 {
	  font-size: 14px;
	}
	.changeNameCont{
	  padding-left: 0px;
	  margin: 10px 0px 25px 0px;
	}
	.vsppIdentifier{
	  padding-right: 10px;
	}
	.iassetLink {
	  padding-right: 0px;
	}
	.vsppUserDetailscont ul li {
	  margin-bottom: 7px;
	}
	span.alertTxtSpace {
	  margin-top: 3px;
	  margin-right: 3px;
	}
	h5{
		&.topMarginZero {
			margin-top: 0px;
		}
	}
}

	.vsspDetailscont h5,.vsspDetailscont h4,.vsppUserDetailscont h5,.vsppUserDetailscont h4 {
	margin-bottom: 0px;
	}
	body.liferay.starlight .vsppDashboard input[type="checkbox"], body.liferay.starlight .vsppDashboard input[type="radio"] {
		display: inline-block;
	}
	
.vsspDetailscont h5,.vsppUserDetailscont h5 {
  text-align: right;
}

	/****alert icons for tables ***/
span.alertIcon01, span.alertIcon02, span.alertIcon03, span.alertIcon04, span.alertIcon05, span.alertIcon06, span.alertIcon07, span.alertIcon08, 
span.alertIcon09, span.alertIcon11, span.alertIcon12, span.alertIcon13, span.alertIcon14, span.alertIcon15, span.alertIcon16, span.alertIcon17, 
span.alertIcon18, span.alertIcon19, span.alertIcon21, span.alertIcon22, span.alertIcon23, span.alertIcon24, span.alertIcon25, span.alertIcon26, 
span.alertIcon27, span.alertIcon28, span.alertIcon29, span.alertIcon31, span.alertIcon32, span.alertIcon33, span.alertIcon34, span.alertIcon35, 
span.alertIcon36, span.alertIcon37, span.alertIcon38, span.alertIcon39, span.alertIcon4, span.alertIcon5, span.alertIcon7 { width:20px; height:19px; display:inline-block; }

span.alertIcon01, span.alertIcon02, span.alertIcon03, span.alertIcon04, span.alertIcon05, span.alertIcon06, span.alertIcon07, span.alertIcon08, 
span.alertIcon09, span.alertIcon11, span.alertIcon12, span.alertIcon13, span.alertIcon14, span.alertIcon15, span.alertIcon16, span.alertIcon17, 
span.alertIcon18, span.alertIcon19 { background: url("img/Table_Starlight_Basic_Expired_icon.png") no-repeat scroll 0 0 transparent; }

td.alertColor01, td.alertColor02, td.alertColor03, td.alertColor04, td.alertColor05, td.alertColor06, td.alertColor07, td.alertColor08, 
td.alertColor09, td.alertColor11, td.alertColor12, td.alertColor13, td.alertColor14, td.alertColor15, td.alertColor16, td.alertColor17, 
td.alertColor18, td.alertColor19, td.alertColor4 { color:#FF0000 !important; }

td.alertColor31, td.alertColor32, td.alertColor33, td.alertColor34, td.alertColor35, td.alertColor36, td.alertColor37, td.alertColor38, 
td.alertColor39 { color:#55b400 !important; }
table.dataTable.starlight tbody td.alertColor7{color: #006990;}

td.alertColor21, td.alertColor22, td.alertColor23, td.alertColor24, td.alertColor25, td.alertColor26, td.alertColor27, td.alertColor28, 
td.alertColor29 { color:#FF9513 !important; }

td.alertColor5{color: #666 !important;}

span.alertIcon21, span.alertIcon22, span.alertIcon23, span.alertIcon24, span.alertIcon25, span.alertIcon26, span.alertIcon27, span.alertIcon28, 
span.alertIcon29 { background: url("img/status_icon.png") no-repeat scroll 0 -17px transparent; }
span.alertIcon22 {background: url("img/status_icon.png") no-repeat scroll 4px -16px transparent;}
span.alertIcon31, span.alertIcon32, span.alertIcon33, span.alertIcon34, span.alertIcon35, span.alertIcon36, span.alertIcon37, span.alertIcon38, 
span.alertIcon39 { background: url("img/Table_Starlight_Basic_Active_icon.png") no-repeat scroll 0 0 transparent; }

span.alertIcon4 { background: url("img/status_icon.png") no-repeat scroll -16px -16px transparent; }

span.alertIcon7 { background: url("img/Table_Starlight_Basic_under_Provisioning_icon.png") no-repeat scroll 0 0 transparent;}

span.alertIcon5 { background: url("img/Table_Starlight_Basic_inactive_icon.png") no-repeat scroll 0 0 transparent;}

/****Making Configurator Pixel Perfect.***/
.font-size-40 {
  font-size: 40px;
}
.line-height-30 {
  line-height: 30px;
}
.starlight .margin-top-20{
  margin-top: 20px;
}
.starlight .margin-bottom-17{
  margin-bottom: 17px;
}
select.config-selectbox{
  width:280px;
}
select.config-selectbox + div.btn-group.bootstrap-select.form-control.config-selectbox{
  width:280px;
}
select.config-selectbox + div.btn-group.bootstrap-select.form-control.config-selectbox .dropdown-menu.open{
  min-width: 310px;
}

@media (min-width: 993px) and (max-width: 1200px) {
  select.config-selectbox + div.btn-group.bootstrap-select.form-control.config-selectbox{
    width:210px;
  }

  select.config-selectbox + div.btn-group.bootstrap-select.form-control.config-selectbox .dropdown-menu.open{
    min-width: 240px;
  }
   select.config-selectbox{
     width:210px;
  }
}
ul.dropdown-menu.inner.selectpicker > li{
  height: 30px;
}

.dropdown-menu > li > a{
  padding: 3px 15px;
}

#calculationsBox .info {
  background-image: url("/vmf/c/4.0/images/bg_alert_spite.png");
  display: inline-block;
  line-height: 14px;
  height: 14px;
  width: 14px;
  margin-top: 3px;
  margin-left: 5px;
  background-position: 0 -428px;
}

.rightSecHead h4{
margin-top:0px;
border-bottom:3px solid #74B229;
 margin-bottom: 17px;
padding-bottom: 8px;
}

.lightGrey{
color:#333333;

}
.addressInfo {
    border-bottom: 1px solid #ccc;
    margin-bottom: -5px;
    margin-left: 0;
    padding-bottom: 9px;
}
.payType {

  display: block;
    font-size: 12px;
}
.referenceIdCash{
display: block;
}
.disabledAnchor{
cursor: auto;
}

.dispPartnerNewService{
   margin-top: -9px;
    padding-left: 40px;
} 
.dispPartner{
   margin-top: -4px;
    padding-left: 75px;
}
.partnerInView{
  display:block;
}

.noFundUsers{
  margin-left: 0;
    margin-top: -5px;
  }
  .expiration_msg .icons-icn_danger {
    background-position: 0 -463px;
}
.partnerListContainer{
max-height: 280px;
overflow: auto;

}
.completeMessage{
  color: #387c2c !important;
  font-size:28px !important;
  font-family: "proxima-nova-regular","Arial",sans-serif !important;
}

.starlight .margin-bottom-14{
  margin-bottom: 14px;
}

.dashboard .padding-bottom-15  {
  padding-bottom: 15px;
}
.standard-info-icon {
  background-image: url("/vmf/c/4.0/images/bg_alert_spite.png");
  display: inline-block;
  line-height: 14px;
  height: 14px;
  width: 14px;
  margin-top: 3px;
  margin-left: 5px;
  background-position: 0 -428px;
}


.users{
  .detailDiv{
    margin-bottom: 23px;
  }
}

.sid_list{
  h5{
  	&.SubscriptionHeading{
  	  margin-bottom: 29px;
  	}
  }
}

.fund_users_list li{
  margin-bottom: 5px;
}

.expiration_msg{
  display: block;
  .icons-icn_danger,
  .icons-icn_warning{
  	vertical-align: middle
  }
  .expiration_text_danger,
  .expiration_text_warning{
  	font-size: 14px;
  	margin-left: 5px;
  }
  .expiration_text_danger{
  	color: #E00000;
  }
  .expiration_text_warning{
  	color: #FDB813;
  }
}
/*style for empty cloud */
.cloudImg {
	background: url("/static/myvmware/common/css/img/emptycloud.png") no-repeat;
	width : 424px;
	height: 254px;
	margin: auto;
	margin-top: 100px;
}
.cloudImgCont {
	width: 427px;
	margin: auto;
	text-align : center;
}
.VSPPseparator {
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 20px;
}
.VSPPseparatorlast {border-bottom : 0;}
.emptyResp {
	height: 600px;
	border: 1px solid #e6e6e6;
	border-top : 0;
	margin-top : -1px;
}
.activeFundsLink{
	text-align: right;
	 padding-top: 23px;
}
.tAndC{
display: inline-block;
top: -22px;
position: relative;
left: 30px;

}

.infoIcon .info {
    background-image: url("/vmf/c/4.0/images/bg_alert_spite.png");
    background-position: 0 -428px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-top: 3px;
    width: 14px;
}
.box-right-praxis{
padding-bottom: 10px;
border-bottom: 3px solid #a8cf78;

}
.payUseborder{
padding-bottom: 10px;
border-bottom: 3px solid #8ECBE0;

}
.supportborder{
padding-bottom: 10px;
border-bottom: 3px solid #146992;
  
}
.praxisCompleteHeading{
  padding-top: 7px;
  padding-left: 7px;
}

/* Help icon related styling. CR */
.help_funds{
  padding-top: 20px;
  .funds_link{
    padding-right: 6px;
  }
}

.help_link{
  padding-left: 10px;
  border-left: 1px solid #CECECE;
  .help_icon{
  	background: url("/static/myvmware/common/css/img/Icon_Starlight_Help_16X16.png") no-repeat center center;
  	width: 16px;
  	height: 16px;
  	display: inline-block;
  	vertical-align: sub;
  }
  .help_text{
    padding-left: 2px;
    font-size: 14px;
  }
}
.config_help{
  padding: 20px 0 0;
}
/*Modal window Styles*/
.confirm_window {
	.alertImg {
		width: 60px;
		height: 50px;
	}
	.modal-content .modal-header {
		border-bottom: none;
	}
}
.modal-content .confirm_modal_bodystyle{
  padding-left: 0px;
  font-size: 18px;
  font-family: "proxima-nova-semibold", "Arial", sans-serif;
}
.margin_right_-15 {
	margin-right: -15px;
}
.modal-content .modal_header_style{
  font-size: 18px;
  font-family: "proxima-nova-semibold", "Arial", sans-serif;
}
.modal .modal-header.custom-header{
  padding: 13px 6px 0px 29px;
}
.modal-content .labelstyle {
	padding-left: 43px;
}
/*Modal window Styles*/

.trueBadge-header{
  vertical-align: middle;
}
.accountFundInfo{
  padding-right: 0;
  .account_fund{
  	padding: 0;
  	.account_title{
  	  margin-right: 8px;
  	}
  }
}
.margin-right-0{
  margin-right: 0px !important;
}
.margin-left-0{
  margin-left: 0px !important;
}
.padding-right-20{
  padding-right: 20px !important;
}
.padding-left-25{
  padding-left: 25px !important;
}
.margin-left-15{
  margin-left: 15px !important;
}
.margin-bottom-35{
	margin-bottom: 35px !important;
}
.vmwareprofile-link{
  color: #666;
  font-family: "proxima-nova-regular","Arial";
  word-wrap: break-word;
}
.starlight .alert-box .alert .alert-text.normal-text{
  font-family: "proxima-nova-regular","Arial";
}

.partnerFilterSection{
  background: none repeat scroll 0% 0% #F1F5F8; 
  padding-top: 15px; 
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.filteredContent{
  margin-top:0px;
  margin-right: 0px;
}
.partnerModalBody{

  padding-bottom: 20px!important;
}
.partnerModalhead{
  height:65px!important;
}
.radio.partList {
    margin-bottom: 15px;
    margin-top: 15px;
}
.starlight .partnerFilterSection .btn-default.selectpicker .filter-option{
  float: none !important;
  margin-bottom: -6px;
}
.font-proxima-normal{
  font-family: "proxima-nova-regular";
  font-weight: normal;
}

.partner-list-search{
  font-size: 14px;
  color: #999;
}

.padding-right-10{
  padding-right: 10px !important;
}

.offering-drop{
  span.filter-option{
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
  }
}

.starlight .modal.confirm-modal .modal-dialog {
	width: 400px;
	.modal-header {
		border-bottom: 0 none;
		padding: 15px 16px 20px 40px;
		span.close{
			margin-right: 0 !important;
		}
	}
	.modal-body {
		.confirm-icon {
			width: 59px;
			height: 52px;
			float: left;
			background: url("/static/myvmware/common/img/alert_large.png");
			margin-right: 20px;
			margin-top: 5px;
			margin-bottom: 30px;
			background-size: 100%;
		}
		.alert-icon {
			width: 59px;
			height: 59px;
			float: left;
			background: url("/static/myvmware/common/img/error_large.png");
			margin-right: 20px;
			margin-top: 5px;
			margin-bottom: 30px;
			background-size: 100%;
		}
		.info-icon {
			width: 59px;
			height: 59px;
			float: left;
			background: url("/static/myvmware/common/img/info_large.png");
			margin-right: 20px;
			margin-top: 5px;
			margin-bottom: 30px;
			background-size: 100%;
		}
		.confirm-msg p {
			font-family: proxima-nova-semibold, Arial, sans-serif;
		}
	}
	.modal-footer {
		background-color: #E6E6E6;
		padding: 25px 40px;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 0 6px 6px;
		.btn.btn-default.margin-left-20 {
			margin-right: 0;
			margin-left:16px !important;
		}
	}
}
/* styles by saritha*/
@media (min-width: 400px) and (max-width: 979px) {
  
  .trueBadge{margin:6px;}
  .balanceCnt .col-md-6{width:50%;  float: left;}
  .sidList  .list-inline.row > li {
    float: left;
                }

}
@media (min-width: 320px) and (max-width: 400px){
  .renameFundName {width: 100%;}
  .renameDiv .btn, .changeNameCont .btn {margin-top: 27px;}
  .sbtn {margin-left: 15px;}/* added class specific to the resolution .changeNameCont > .btn:first-child*/
   
}
@media only screen and (max-width: 400px) {
  .trueBadge{margin:6px;}
  .balanceCnt .col-md-6{width:50%;  float: left;}
.sidList  .list-inline > li{display:block;}
.sidList .list-inline{margin-bottom:10px !important}
                h3.headFnd{ word-wrap:break-word;}
}
