    <!-- Content -->
                <section>
                    <article>                            
                         <ng-content-header></ng-content-header>  
                         <ng-progress-bar></ng-progress-bar> 
                         <ng-alert-warning></ng-alert-warning>                                    
                    </article>
                    <div ui-view="addOnServices">
                    
                    </div>
                </section>
                <!-- Content End -->