/* ########################################################################### *
/* ***** DOCUMENT INFO  ****************************************************** *
/* ########################################################################### *
 * ##### NAME:  download_ext.css
 * ##### VERSION: v0.1
 * ##### UPDATED: 08/21/2011
/* ########################################################################### *
/* ***** CONTENT  ************************************************************ *
/* ########################################################################### *
 * ## 1. adjust style for tabs
/* ########################################################################### */

#products-index-wrapper .free-trial_icon img {
    margin-right: 5px;
    position: absolute;
    right: 825px;
    top: 35px;
}