<article>
        <div class="row margin-top-20">
            <div class="col-md-12"><label>{{globalVars.coreService}}</label></div>
        </div>
        <div class="container-fluid box-bgBlue margin-bottom-20 formAlign">
           <div class="row">
                <div class="col-md-6">
                        <div class="row margin-top-10">
                            <div class="col-md-5"><label>{{globalVars.serviceType}}</label></div>
                            <div class="col-md-7">{{addOnData.core.serviceName}}<br>- {{addOnData.core.serviceType}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.serviceId}}</label></div>
                            <div class="col-md-7">{{addOnData.core.serviceID}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.region}}</label></div>
                            <div class="col-md-7">{{addOnData.core.region}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.storage}}</label></div>
                            <div class="col-md-7">{{addOnData.core.coreServices[0].storage[0][addOnData.core.storageType[1]].storageName}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.serviceStartDate}}</label></div>
                            <div class="col-md-7">{{addOnData.core.serviceStartDate}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.termStart}}</label></div>
                            <div class="col-md-7">{{addOnData.core.termStartDate}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.termEnd}}</label></div>
                            <div class="col-md-7">{{addOnData.core.termEndDate}}</div>
                        </div>
                </div>    
                <div class="col-md-6">
                        <div class="row margin-top-10">
                            <div class="col-md-5"><label>{{globalVars.remainingTerm}}</label></div>
                            <div class="col-md-7">{{addOnData.core.remainingTermText}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.serviceTerm}}</label></div>
                            <div class="col-md-7">{{addOnData.core.selectedTermObj[0]}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.currency}}</label></div>
                            <div class="col-md-7">{{addOnData.core.currency[1]}} ({{addOnData.core.currency[0]}})</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.serviceCategory != 'VSPP' && globalVars.offeringPartner || globalVars.aggregator}}</label></div>
                            <div class="col-md-7">{{globalVars.serviceCategory != 'VSPP' && addOnData.core.selectedPartnerObj.name || addOnData.core.partner}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.paidWith}}</label></div>
                            <div class="col-md-7">{{addOnData.core.fundInfo.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.billingType}}</label></div>
                            <div class="col-md-7">{{addOnData.core.selectedPayType.paymentTypeVal}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label>{{globalVars.Cost}}</label></div>
                            <div class="col-md-7">
                                {{addOnData.core.cost | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}}
                                <span ng-if="addOnData.core.defaultPaymentType == '2'"> {{globalVars["payment_type2"]}}</span>
                                <span ng-if="addOnData.core.defaultPaymentType == '3'"> {{globalVars["payment_type3"]}}</span>
                            </div>
                        </div>
                </div>                          
            </div> 
        </div>
        
</article>
<article>
    <div class="row">
        <div class="col-md-12"><label>{{globalVars.addOnService}}</label></div>
    </div>
</article>
<ng-review-table></ng-review-table>
<article class="container-fluid">
    <div class="row margin-top-30 margin-bottom-30" ng-if="addOnCount==0">
        <div class="col-md-10 padding-left-25 form-required">{{(addOnFlag == 1) && globalVars.NoAddOnService || globalVars.noAddOnAvailable}}</div>                        
    </div>   
    <!--div class="row text-right">
        <div class="col-md-12 margin-tb-20">Order Total for Remaining Term: {{addOnData.core.currency[0]}}{{totalCost | number:2}}</div>                            
    </div-->
    <div class="row" id="calculationsBox">
         <div class="col-md-4">
             &nbsp;
         </div>
         <div class="col-md-8">
            <div class="box-bgBlue">
                <div class="row text-center reviewOrderWrap {{(showCalc != true) && 'fullCalc'}}">
                    <div class="col-md-12">
                        <div class="row" ng-if="showCalc">
                            <div class="col-md-12 text-left">
                                <a class="btn-link" ng-click="showCalcDisable()">{{globalVars.showCalculations}}</a>
                            </div>
                        </div>
                        <div class="row" ng-if="!showCalc">
                            <div class="col-md-12 text-left">
                                <a class="btn-link" ng-click="showCalcEnable()">{{globalVars.hideCalculations}}</a>
                            </div>  
                        </div>
                        <div class="row"  ng-if="newAddOnRecurring > 0">
                            <div class="col-xs-7 text-right">
                                <h3 class="ng-binding">{{globalVars.monthlyCostService}}<span><a href="javascript:void(0);" class="info ng-scope" tooltip-trigger tooltip-placement="right" data-tooltip-html-unsafe={{globalVars.monthlyCostServiceTooltip}}>&nbsp;</a></span> </h3>
                            </div>
                            <div class="col-xs-5 text-left"><h3>{{newAddOnRecurring | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type2}}</h3></div>
                        </div>
                        <div class="row" ng-if="coreServiceCostMonthly > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.coreServiceMCost}}</div>
                            <div class="col-xs-5 text-left">{{coreServiceCostMonthly | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type2}}</div>
                        </div>
                        <div class="row" ng-if="addOnRecurring > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.addOnServiceMCost}}</div>
                            <div class="col-xs-5 text-left">{{addOnRecurring | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type2}}</div>
                        </div>
                        <div class="row" ng-if="coreServiceCostAnnually + annualAddonRecuuring > 0 && !showCalc">
                            <div class="col-xs-7 text-right"><h3>{{globalVars.annualCostService}}</h3></div>
                            <div class="col-xs-5 text-left"><h3>{{coreServiceCostAnnually + annualAddonRecuuring  | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type3}}</h3></div>
                        </div>
                        <div class="row" ng-if="coreServiceCostAnnually > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.coreServiceACost}}</div>
                            <div class="col-xs-5 text-left">{{coreServiceCostAnnually | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type3}}</div>
                        </div>
                        <div class="row" ng-if="annualAddonRecuuring > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.AddOnServiceACost}}</div>
                            <div class="col-xs-5 text-left">{{annualAddonRecuuring | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}} {{globalVars.payment_type3}}</div>
                        </div>
                        <div class="row"  ng-if="totalCost > 0">
                            <div class="col-xs-7 text-right">
                                <h3 class="ng-binding">{{globalVars.orderTotal}} <span><a href="javascript:void(0);" class="info ng-scope" tooltip-trigger tooltip-placement="right" data-tooltip-html-unsafe= {{globalVars.orderTotalTooltip}}>&nbsp;</a></span> </h3>
                            </div>
                            <div class="col-xs-5 text-left"><h3>{{totalCost | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}}</h3></div>
                        </div>
                        <div class="row" ng-if="fullTermServiceCost > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.coreServiceTotal}}</div>
                            <div class="col-xs-5 text-left">{{fullTermServiceCost | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}}</div>
                        </div>
                        <div class="row" ng-if="totalAddonCost > 0 && !showCalc">
                            <div class="col-xs-7 text-right">{{globalVars.addOnServiceTotal}}</div>
                            <div class="col-xs-5 text-left">{{totalAddonCost | customCurrency:addOnData.core.currency[0]:addOnData.core.fundInfo.redemptionCurrency}}</div>
                        </div>  
                    </div>
                </div>
                <div class="row margin-tb-20">
                    <div class="col-md-12"><div class="items_wrap"></div></div>    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>{{globalVars.submitNotification}}</strong>
                        <div class="checkbox"><input type="checkbox" id="agreement" ng-model="getChecked"/><label for="agreement"> {{globalVars.agree}} </label><a href="{{globalVars.termsAndConditionsUrl}}" target="_blank" ng-bind-html="globalVars.termsConditions"></a></div>
                    </div>
                </div>
            </div>            
         </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-8 margin-top-20">
            <div class="margin-bottom-5">
                <div class="margin-top-15">
                    <b>{{globalVars.redemptionNotes}}</b>
                </div>
                <div class="form-inline">
                    <div class="margin-top-15 margin-bottom-15">
                        <input class = "form-control inputboxForRedemptionTag"  placeholder = "{{globalVars.tagPlaceholder}}" ng-model = "redemptionNotesRenew"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="errorMsg != null">
        <div class="col-md-9"><span class="form-required">{{errorMsg}}</span></div>
    </div>
    <div class="row margin-top-20">
            <div class="col-xs-6 text-left"><a class="btn btn-default" ng-click="back()">{{globalVars.backBtn}}</a></div>
            <div class="col-xs-6 text-right">
                <span ng-if="ajaxLoader">
                    <div class="ajaxSpinner">&nbsp;</div> 
                </span>&nbsp;
                <a class="btn btn-primary" ng-click="submitOrder($event)" ng-disabled="!validSelectedData || editPhase || !getChecked || ajaxLoader"><b>{{globalVars.SubmitBtn}}</b></a>
                <a class="btn btn-default margin-left-20" ng-click="cancelFlow(cancelFn)">{{globalVars.cancelBtn}}</a>
            </div>
    </div>
</article>
